<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>
</head>
<body>
  <main class="container">

    <div class="card" style="width: 18rem;" *ngFor="let umaCard of listaCards">
      <div class="card-body">
        <h5 class="card-title">{{umaCard.titulo}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{umaCard.textoVerso}}</h6>
        <p class="card-text">{{umaCard.textoFrente}}</p>
      </div>
    </div>
</main>
</body>
</html>

