<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="addcard.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
  <h1>MemCard</h1>
  <main class="container">
    <form (ngSubmit)="onSubmit()">
      <div class="addcard" style="width: 18rem;" >
          <div class="card-body">
            <h5 class="card-title">Deck</h5>
            <br>
            <input type="text" class="form-control" [(ngModel)]="card.addnomeDeck" name="addnomeDeck" required  id="exampleFormControlInput1" placeholder="Qual deck gostaria de adicionar?">
            <br>
            <h5 class="card-title">Titulo</h5>
            <br>
            <input type="text" class="form-control" [(ngModel)]="card.titulo" name="titulo" required id="exampleFormControlInput1" placeholder="Qual titulo gostaria de adicionar?">
            <br>
            <h5 class="card-title">Texto</h5>
            <br>
            <input type="text" class="form-control" [(ngModel)]="card.textoFrente" name="textoFrente" required  id="exampleFormControlInput1" placeholder="Qual o texto?">
          </div>
          <button type="submit">Create</button>
      </div>
    </form>
  </main>
</body>
</html>



