<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="addcard.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
  <h1>MemCard</h1>
  <main class="container">
    <div class="addcard" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Deck</h5>
          <br>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Qual deck gostaria de adicionar?">
          <br>
          <h5 class="card-title">Titulo</h5>
          <br>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Qual titulo gostaria de adicionar?">
          <br>
          <h5 class="card-title">Texto</h5>
          <br>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Qual o texto?">
        </div>
    </div>
  </main>
</body>
</html>



