<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck de Cartas</title>
</head>
<body>
    <div class="container">
        <h1>Deck de Cartas</h1>
        
        <div class="card-container" *ngFor="let card of cards">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{card.addnomeDeck}}</h5>
                    <h5 class="card-title">{{card.titulo}}</h5>
                    <p class="card-text">{{card.textoFrente}}</p>
                    <button class="btn-edit">Editar</button>
                    <button class="btn-delete">Excluir</button>
                </div>
            </div>       
        </div>
    </div>
</body>
</html>
