<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
    <h1>MemCard</h1>
    <main class="container">
    
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" [routerLink]="['/deck']">
          Espanhol A1
          <span class="badge text-bg-primary rounded-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Java
          <span class="badge text-bg-primary rounded-pill">2</span>
        </li>

      </ul>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button" [routerLink]="['/addcard']">Adicione uma carta</button>
    </div>
    </main>
</body>
</html>
